.cardsContainer {
  font-size: calc(10px + 2vmin);
  color: var(--color-3);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(192px, 1fr));
  gap: 50px;
  padding: 40px;
  max-width: 960px;
  margin: 0 auto;
}
