.cardsContainer {
  font-size: calc(10px + 2vmin);
  color: var(--color-3);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(192px, 1fr));
  gap: 50px;
  padding: 40px;
  max-width: 960px;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--color-2);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 54px;
}
