.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--color-2);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 54px;
}
